.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
sim_out

# ==========================================
# Microsoft Visual Studio Editor Ignore Rules
# ==========================================
.vs/
.vscode/
*.user
*.suo
*.sln
Debug/
Release/
x64/
out/

# ==========================================
# Python & Cocotb Temporary Ignore Rules
# ==========================================
__pycache__/

# SymbiYosys Proof Output Directory
formal/mmu/