# Area bounding box specification rule
# Syntax: FENCE <region_name> <lower_left_x> <lower_left_y> <upper_right_x> <upper_right_y>
FENCE u_c061618g2_region 10.0 10.0 55.36 25.12

# Assign the standard cells module inside the box
# Syntax: <hierarchical_instance_path> FENCE <region_name>
u_c061618g2 FENCE u_c061618g2_region
