
# Area bounding box specification
# Syntax: REGION <region_name> <lower_left_x> <lower_left_y> <upper_right_x> <upper_right_y>
REGION u_c061618g2_region 10.0 10.0 55.36 25.12

# Force Tthe instance cells into the box
# Syntax: <instance_path> REGION <region_name>
u_c061618g2 REGION u_c061618g2_region